#Start
[stepper_x]
step_pin:        PF13
dir_pin:         PF12
enable_pin:      !PF14
microsteps:      16
rotation_distance: 40.0
full_steps_per_rotation: 200
endstop_pin:     ^PC0
position_min:    -5.0
position_max:    300.0
position_endstop: 0.0
homing_speed:    50.0

[tmc2209 stepper_x]
uart_pin:        PE0
run_current:     0.800
stealthchop_threshold: 999999

[stepper_y]
step_pin:        PG0
dir_pin:         PG1
enable_pin:      !PF15
microsteps:      16
rotation_distance: 40.0
full_steps_per_rotation: 200
endstop_pin:     ^PC1
position_min:    -5.0
position_max:    300.0
position_endstop: 0.0
homing_speed:    50.0

[tmc2209 stepper_y]
uart_pin:        PE1
run_current:     0.800
stealthchop_threshold: 999999