#Start
[stepper_x]
step_pin:        PF13
dir_pin:         PF12
enable_pin:      !PF14
microsteps:      16
rotation_distance: 40.0
full_steps_per_rotation: 200
endstop_pin:     ^PC0
position_min:    -5.0
position_max:    300.0
position_endstop: 0.0
homing_speed:    50.0

[tmc2209 stepper_x]
uart_pin:        PE0
run_current:     0.800
stealthchop_threshold: 999999

[stepper_y]
step_pin:        PG0
dir_pin:         PG1
enable_pin:      !PF15
microsteps:      16
rotation_distance: 40.0
full_steps_per_rotation: 200
endstop_pin:     ^PC1
position_min:    -5.0
position_max:    300.0
position_endstop: 0.0
homing_speed:    50.0

[tmc2209 stepper_y]
uart_pin:        PE1
run_current:     0.800
stealthchop_threshold: 999999

[extruder]
step_pin: PC9
dir_pin: PC8
enable_pin: !PD1
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: PE3 # HE0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA1 # T0
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 250


[heater_bed]
heater_pin: PB7
sensor_type: Generic 3950
sensor_pin: PA0 # TB
control: watermark
min_temp: 0
max_temp: 130